/* Navbar Styles */
.navbar {
    background-color: #333; /* Dark background for navbar */
    padding: 1rem 2rem; /* Padding around the navbar */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between logo and nav items */
    align-items: center; /* Align items vertically */
    color: white; /* Text color */
}

.logo-navbar {
    color: #f0db4f; /* A bright color for the logo for contrast */
    text-decoration: none; /* Remove underline from links */
    font-size: 1.5rem; /* Larger text for the logo */
    font-weight: bold; /* Bold text for the logo */
}

.navbar ul {
    list-style-type: none; /* Remove bullet points from list */
    padding: 0; /* Remove padding */
    display: flex; /* Display list items in a row */
    gap: 20px; /* Space between list items */
}

.navbar li a {
    color: white; /* Text color for links */
    text-decoration: none; /* Remove underline from links */
    font-size: 1rem; /* Text size for links */
    transition: color 0.3s ease-in-out; /* Smooth transition for link hover effect */
}

.navbar li a:hover {
    color: #f0db4f; /* Change color on hover for visual feedback */
}
*{
    list-style: none;

}
body{
    text-align: center;
    font-size: 20px;
    padding: 2%;
}
.column{
    float: left;
    width: 50%;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.card{
    text-align: center;
    display: inline-block;
    margin: 10px;
    max-width: 400px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.card button{
    width: 100%;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: teal;
    cursor: pointer;
    transition: 0.3s ease;
}
.card button:hover{
    opacity: 0.8;
}
.profile{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.btn{
    background-color: teal;
    color: white;
    padding: 12px 30px;
    font-size: 18px;
    text-align: center;
    margin: 4px 2px;
}
.btn:hover{
    opacity: 0.5;
}

@media (max-width: 800px) {
    .column{
        width: 100%;
    }
}

.title-fade-out{
    opacity: 0;
    animation-name: fade-out;
    animation-duration: 2s;
}
.title-fade-in{
    opacity: 100;
    animation-name: fade-in;
    animation-duration: 2s;
}

@keyframes fade-out{
    from{
        opacity: 100;
    }
    to{
        opacity: 0;
    }
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}

.gallery{
    display: inline-block;
    margin: 15px;
    width: 300px;
}
.gallery img:hover{
    filter: brightness(50%);
}
.gallery img{
    width: 100%;
    height: auto;
}
.gallery p{
    text-align: center;
    font-size: 16px;
    padding: 10px;
}